[Desktop Entry]
Actions=new-empty-window;
Categories=Utility;TextEditor;Development;IDE
Comment=Code Editing. Redefined.
Exec=code %F
GenericName=Text Editor
Icon=com.visualstudio.code-oss
Keywords=vscode
MimeType=text/plain;inode/directory
Name=Visual Studio Code
StartupNotify=true
StartupWMClass=Code
Type=Application
Version=1.4
Name[ru]=Visual Studio Code
Name[ru_RU]=Visual Studio Code
Name[ru_RU.UTF-8]=Visual Studio Code
Comment[ru]=Code Editing. Redefined.
Comment[ru_RU]=Code Editing. Redefined.
Comment[ru_RU.UTF-8]=Code Editing. Redefined.
Keywords[ru]=vscode
Keywords[ru_RU]=vscode
Keywords[ru_RU.UTF-8]=vscode
Hidden=false
NoDisplay=false
Terminal=false

[Desktop Action new-empty-window]
Exec=code --new-window %F
Icon=vscode
Name=New Empty Window
Name[ru]=New Empty Window
Name[ru_RU]=New Empty Window
Name[ru_RU.UTF-8]=New Empty Window

