[Desktop Entry]
Type=Application
Icon=xterm-color
Name=wezterm
Name[ru]=wezterm
Name[ru_RU]=wezterm
Name[ru_RU.UTF-8]=wezterm
Comment=wayland terminal emulator
Comment[ru]=wayland terminal emulator
Comment[ru_RU]=wayland terminal emulator
Comment[ru_RU.UTF-8]=wayland terminal emulator
Exec=WAYLAND_DISPLAY=wayland-1 GTK_THEME=adwaita wezterm
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=false
Categories=Development;Settings;System
Keywords=wezterm
Keywords[ru]=wezterm
Keywords[ru_RU]=wezterm
Keywords[ru_RU.UTF-8]=wezterm

