[Desktop Entry]
Type=Application
Name=GPU Screen Recorder
GenericName=Screen recorder
Comment=A gpu based screen recorder / streaming program
Icon=camera-video
Exec=gpu-screen-recorder-gtk
Terminal=false
Keywords=gpu-screen-recorder;screen recorder;streaming;twitch;replay;
Categories=AudioVideo;Recorder;
Name[ru]=GPU Screen Recorder
Name[ru_RU]=GPU Screen Recorder
Name[ru_RU.UTF-8]=GPU Screen Recorder
Comment[ru]=A gpu based screen recorder / streaming program
Comment[ru_RU]=A gpu based screen recorder / streaming program
Comment[ru_RU.UTF-8]=A gpu based screen recorder / streaming program
Keywords[ru]=gpu-screen-recorder;screen recorder;streaming;twitch;replay;
Keywords[ru_RU]=gpu-screen-recorder;screen recorder;streaming;twitch;replay;
Keywords[ru_RU.UTF-8]=gpu-screen-recorder;screen recorder;streaming;twitch;replay;
Hidden=false
NoDisplay=false
StartupNotify=false

