[Desktop Entry]
Name=NoiseTorch
Comment=Create a virtual microphone that suppresses noise, in any application.
Exec=noisetorch
Icon=org.gnome.SoundRecorder
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Utility;
Name[ru]=NoiseTorch
Name[ru_RU]=NoiseTorch
Name[ru_RU.UTF-8]=NoiseTorch
Comment[ru]=Create a virtual microphone that suppresses noise, in any application.
Comment[ru_RU]=Create a virtual microphone that suppresses noise, in any application.
Comment[ru_RU.UTF-8]=Create a virtual microphone that suppresses noise, in any application.
Hidden=false
NoDisplay=false
StartupNotify=false

