[Desktop Entry]
Categories=Office
Comment=Knowledge base
Exec=obsidian %u
Icon=appimagekit-obsidian
MimeType=x-scheme-handler/obsidian
Name=Obsidian
Type=Application
Version=1.4
Name[ru]=Obsidian
Name[ru_RU]=Obsidian
Name[ru_RU.UTF-8]=Obsidian
Comment[ru]=Knowledge base
Comment[ru_RU]=Knowledge base
Comment[ru_RU.UTF-8]=Knowledge base
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=false

