[Desktop Entry]
Name=qpwgraph
Version=1.0
GenericName=PipeWire Graph/Patchbay
Comment=qpwgraph is a PipeWire graph Qt GUI interface
Exec=qpwgraph %f
Icon=kcmmidi
Categories=AudioVideo;Audio;Video;Midi;X-Alsa;X-PipeWire;Qt;
MimeType=application/x-qpwgraph-patchbay;
Keywords=PipeWire;MIDI;ALSA;JACK;Qt;
Terminal=false
Type=Application
Name[ru]=qpwgraph
Name[ru_RU]=qpwgraph
Name[ru_RU.UTF-8]=qpwgraph
Comment[ru]=qpwgraph is a PipeWire graph Qt GUI interface
Comment[ru_RU]=qpwgraph is a PipeWire graph Qt GUI interface
Comment[ru_RU.UTF-8]=qpwgraph is a PipeWire graph Qt GUI interface
Keywords[ru]=PipeWire;MIDI;ALSA;JACK;Qt;
Keywords[ru_RU]=PipeWire;MIDI;ALSA;JACK;Qt;
Keywords[ru_RU.UTF-8]=PipeWire;MIDI;ALSA;JACK;Qt;
Hidden=false
NoDisplay=false
StartupNotify=false

