[Desktop Entry]
Name[af]=Pix
Name[am]=Pix
Name[ar]=Pix
Name[az]=Piks
Name[be]=Pix
Name[bg]=Pix
Name[bn]=পিক্স
Name[ca]=Pix
Name[ca@valencia]=Pix
Name[cs]=Pix
Name[cy]=Pix
Name[da]=Pix
Name[de]=Pix
Name[dz]=ཇི་ཐམཔ།
Name[el]=Pix
Name[en_CA]=Pix
Name[en_GB]=Pix
Name[eo]=Pix
Name[es]=Pix
Name[et]=Pix
Name[eu]=Pix
Name[fa]=Pix
Name[fi]=Pix
Name[fr]=Pix
Name[fr_CA]=Pix
Name[gl]=Pix
Name[gu]=જીથમ્બ
Name[he]=פִּיקְס
Name[hi]=पिक्स
Name[hr]=Pix
Name[hu]=Pix
Name[ia]=Pix
Name[id]=Pix
Name[ie]=Pix
Name[is]=Pix
Name[it]=Pix
Name[ja]=Pix
Name[kab]=Pix
Name[kk]=Pix
Name[kn]=Pix
Name[ko]=픽스
Name[la]=Pix
Name[lt]=Pix
Name[lv]=Pix
Name[mk]=Pix
Name[mr]=पिक्स
Name[ms]=Pix
Name[nb]=Pix
Name[nds]=Pix
Name[ne]=जीथम्ब
Name[nl]=Pix
Name[oc]=Pix
Name[pa]=ਜੀ-ਥੰਮ
Name[pl]=Pix
Name[ps]=Pix
Name[pt]=Pix
Name[pt_BR]=Pix
Name[ro]=Pix
Name[ru]=Pix
Name[sk]=Pix
Name[sl]=Pix
Name[sr]=Гномов сличко
Name[sr@latin]=Pix
Name[sr@Latn]=Pix
Name[sv]=Pix
Name[ta]=பிக்ஸ்
Name[th]=Pix
Name[tr]=Pix
Name[uk]=Pix
Name[ur]=پکس
Name[vi]=Pix
Name[xh]=i-Pix
Name[zh_CN]=Pix 相册
Name[zh_HK]=Pix
Name[zh_TW]=Pix
Name=Pix
Comment[be]=Праглядайце і арганізуйце вашы выявы
Comment[ca]=Visualitzeu i organitzeu les vostres imatges
Comment[cs]=Prohlížení a uspořádání vašich obrázků
Comment[cy]=Gweld a threfnu eich delweddau
Comment[da]=Vis og organisér dine billeder
Comment[de]=Ihre Bilder ansehen und organisieren
Comment[eo]=Vidi kaj organizi viajn bildojn
Comment[es]=Muestre y organice sus imágenes
Comment[et]=Vaadake ja korraldage oma pilte
Comment[fi]=Katsele ja järjestä kuviasi
Comment[fr]=Afficher et organiser vos images
Comment[fr_CA]=Affiche et organise vos images
Comment[hu]=Képek megtekintése és rendszerezése
Comment[ia]=Vide e organisa tu imagines
Comment[is]=Skoða og raða myndunum þínum
Comment[it]=Mostra e organizza le proprie immagini
Comment[ko]=이미지도 보고 관리도 하세요
Comment[nl]=Bekijk en beheer uw afbeeldingen
Comment[pl]=Przeglądaj i organizuj swoje obrazy
Comment[pt]=Ver e organizar as suas imagens
Comment[ro]=Vizualizează și organizează imagini
Comment[ru]=Просмотр изображений и ведение альбомов
Comment[sl]=Oglejte si in organizirajte svoje slike
Comment[sv]=Visa och organisera dina bilder
Comment[tr]=Resimlerinizi görüntüleyin ve organize edin
Comment[uk]=Переглядайте та впорядковуйте свої зображення
Comment=Просмотр изображений и ведение альбомов
Keywords=Image;Viewer;
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=pix %U
Icon=com.endlessm.photos
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;image/webp;image/jxl;
StartupNotify=true
Terminal=false
Type=Application
Actions=new-window;
Name[ru_RU]=Pix
Name[ru_RU.UTF-8]=Pix
Comment[ru_RU]=Просмотр изображений и ведение альбомов
Comment[ru_RU.UTF-8]=Просмотр изображений и ведение альбомов
Keywords[ru]=Image;Viewer;
Keywords[ru_RU]=Image;Viewer;
Keywords[ru_RU.UTF-8]=Image;Viewer;
Hidden=false
NoDisplay=false

[Desktop Action new-window]
Name[be]=Новае акно
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[cy]=Ffenestr Newydd
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_GB]=New Window
Name[eo]=Nova Fenestro
Name[es]=Ventana nueva
Name[et]=Uus aken
Name[eu]=Leiho berria
Name[fa]=پنجره جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fr_CA]=Nouvelle Fenêtre
Name[he]=חלון חדש
Name[hu]=Új ablak
Name[ia]=Nove fenestra
Name[id]=Jendela Baru
Name[is]=Nýr gluggi
Name[it]=Nuova finestra
Name[ko]=새 창
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova Janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové Okno
Name[sl]=Novo okno
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name=Новое окно
Exec=pix --new-window
Name[ru_RU]=Новое окно
Name[ru_RU.UTF-8]=Новое окно

