[Desktop Entry]
Categories=Network;InstantMessaging;Chat
Exec=vesktop %U
GenericName=Internet Messenger
Icon=discord-ptb
Keywords=discord;vencord;electron;chat
Name=Vesktop
StartupWMClass=Vesktop
Type=Application
Version=1.4
Name[ru]=Vesktop
Name[ru_RU]=Vesktop
Name[ru_RU.UTF-8]=Vesktop
Keywords[ru]=discord;vencord;electron;chat
Keywords[ru_RU]=discord;vencord;electron;chat
Keywords[ru_RU.UTF-8]=discord;vencord;electron;chat
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=false

