[Desktop Entry]
Name=Yazi
Icon=utilities-x-terminal
Comment=Blazing fast terminal file manager written in Rust, based on async I/O
Terminal=true
TryExec=yazi
Exec=yazi %u
Type=Application
MimeType=inode/directory
Categories=Utility;Core;System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Explorer;Browser;Launcher
Name[ru]=Yazi
Name[ru_RU]=Yazi
Name[ru_RU.UTF-8]=Yazi
Comment[ru]=Blazing fast terminal file manager written in Rust, based on async I/O
Comment[ru_RU]=Blazing fast terminal file manager written in Rust, based on async I/O
Comment[ru_RU.UTF-8]=Blazing fast terminal file manager written in Rust, based on async I/O
Keywords[ru]=File;Manager;Explorer;Browser;Launcher
Keywords[ru_RU]=File;Manager;Explorer;Browser;Launcher
Keywords[ru_RU.UTF-8]=File;Manager;Explorer;Browser;Launcher
Hidden=false
NoDisplay=false
StartupNotify=false

